<template>


    <div>
        <div v-if="!loading">
        <div class="headline text-xs-center">{{restaurant}}</div>
        </br>
        <v-layout row wrap>
            <v-flex xs8>
                <v-form>
                    <v-textarea
                            v-model="comment"
                            label="Komentarz do zamówienia"
                            type="text"
                            outline>
                    </v-textarea>


                </v-form>
            </v-flex>
            <v-flex xs4>
                <v-btn v-on:click.native="changeComment" color="primary" dark>Edytuj komentarz</v-btn>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs6>
                <v-list style="background: transparent!important;">
                    <v-list-tile
                            v-for="order in my_products"
                            avatar
                            @click="removeOrder(order.id)">
                        <v-list-tile-content>
                            <v-list-tile-title> {{order.product.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>{{Number(order.product.price).toFixed(2)}} zł</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <v-icon color="red">block</v-icon>
                        </v-list-tile-avatar>
                    </v-list-tile>
                </v-list>

            </v-flex>
            <v-flex xs6>
                <v-list style="background: transparent!important;">
                    <v-list-tile
                            v-for="product in products"
                            avatar
                            @click="order(product.id)">
                        <v-list-tile-content>
                            <v-list-tile-title>{{product.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>{{Number(product.price).toFixed(2)}} zł</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <v-icon color="orange darken-2">add_shopping_cart</v-icon>
                        </v-list-tile-avatar>
                    </v-list-tile>
                </v-list>
            </v-flex>
        </v-layout>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <br>
                <br>
            <v-progress-circular
                    :size="70"
                    :width="7"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "choose-products",

        data: () => ({
            products: null,
            my_products: null,
            restaurant: null,
            comment: null,
            loading:true,
        }),
        mounted() {
            this.getProducts()

        },
        methods: {
            getProducts() {
                this.$request.getRequest(this.callbackProducts, "/order/products")
            },
            getMyOrder() {
                this.$request.getRequest(this.callbackMyOrder, "/order/my_order")
            },
            callbackMyOrder(data) {
                this.my_products = data.user_order_products
                this.comment = data.comment.comment
                this.loading=false

            },
            callbackProducts(data) {
                this.products = data.products
                this.restaurant = data.name
                this.getMyOrder()
            },
            order(id) {
                this.loading = true
                let payload = {
                    product_id: id
                }
                this.$request.postRequest(this.callbackOrder, payload, "/order/make_order")
            },
            callbackOrder(data) {
                this.getMyOrder()

            },

            removeOrder(id) {
                this.loading = true
                let payload = {
                    order_id: id
                }
                this.$request.postRequest(this.callbackOrder, payload, "/order/remove_order")
            },
            changeComment() {
                this.loading = true
                let payload = {
                    comment: this.comment
                }
                this.$request.postRequest(this.callbackOrder, payload, "/order/comment")
            },
        }
    }
</script>

<style scoped>

</style>