<template>
    <v-form>
        <v-text-field
                v-model="co_jemy"
                label="Co jemy"
                type="text"
                outline>
        </v-text-field>
        <div class="text-xs-center">
            <v-btn v-on:click.native="coJemy" color="primary" dark>Co jemy?</v-btn>
        </div>
    </v-form>
</template>

<script>
    export default {
        name: "co-jemy",
        data: () => ({
            co_jemy: '',

        }),
        computed: {},
        methods: {
            coJemy() {
                let payload = {
                    co_jemy: this.co_jemy
                }
                this.$request.postRequest(this.callback, payload, "/order/co_jemy")
            },
            callback() {
                this.$parent.getCurrentStep()
            }
        }
    }
</script>

<style scoped>

</style>