<template>
    <v-form>
        <v-text-field
                v-model="nie_zamawiam"
                label="Nie zamawiam"
                type="text"
                outline>
        </v-text-field>
        <div class="text-xs-center">
            <v-btn v-on:click.native="NIEZAMAWIAM" color="primary" dark>Nie zamawiam!</v-btn>
        </div>
    </br>
    </v-form>
</template>

<script>
    export default {
        name: "nie-zamawiam",
        data: () => ({
            nie_zamawiam: null
        }),
        methods: {
            NIEZAMAWIAM() {
                let payload = {
                    nie_zamawiam: this.nie_zamawiam
                }
                this.$request.postRequest(this.callback, payload, "/order/nie_zamawiam")
            },
            callback() {
                this.$parent.getQueue()
            }
        }
    }
</script>

<style scoped>

</style>