<template>
    <div>
        <div v-if="!loading">

        <nie-zamawiam v-if="!nie_zamawiam"></nie-zamawiam>
        <div v-if="items">
            <div v-if="items.length!=0 && !nie_zamawiam">
                <v-card>
                    <v-list>
                        <v-list-tile
                                v-for="item in items"
                                avatar
                                @click="">
                            <v-list-tile-content>
                                <v-list-tile-title> {{item.user.name}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{item.updated_at}}</v-list-tile-sub-title>

                            </v-list-tile-content>

                            <v-list-tile-avatar>
                                <v-icon>person</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </div>
        </div>
        <div v-if="nie_zamawiam">
            <v-layout row wrap>
                <v-flex xs6>
                    <v-list style="background: transparent!important;">
                        <v-list-tile
                                v-for="item in items"
                                avatar
                                @click="">
                            <v-list-tile-content>
                                <v-list-tile-title> {{item.user.name}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{item.updated_at}}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-avatar>
                                <v-icon>person</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>

                </v-flex>
                <v-flex xs6>
                    <v-list style="background: transparent!important;">
                        <v-list-tile
                                v-for="restaurant in restaurants"
                                avatar
                                @click="vote(restaurant[0].id)">
                            <v-list-tile-content>
                                <v-list-tile-title>{{restaurant[0].name}}</v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-avatar v-if="restaurant[1]">
                                <v-icon color="green darken-2">plus_one</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-flex>
            </v-layout>
        </div>

        </div>
        <div v-else>
            <div class="text-xs-center">
                <br>
                <br>
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>

</template>

<script>
    import NieZamawiam from '../current/NieZamawiam'

    export default {
        name: "queue",
        data: () => ({
            items: null,
            restaurants: null,
            nie_zamawiam: false,
            loading: true,
        }),
        components: {
            NieZamawiam,
        },
        mounted() {
            this.loading = true
            this.getQueue()
            this.$echo.channel('queue').listen('UserQueueEvent', (payload) => {
                this.items = payload.body
            })
        },
        methods: {
            getQueue() {
                this.$request.getRequest(this.callbackQueue, "/order/queue")
            },
            callbackQueue(data) {
                this.items = data[0]
                this.nie_zamawiam = data[1]
                if (this.nie_zamawiam) {
                    this.getRestaurants()
                }
                else {
                    this.loading = false
                }
            },
            getRestaurants() {
                this.$request.getRequest(this.callbackRestaurants, "/order/restaurants")
            },
            callbackRestaurants(data) {
                this.restaurants = data
                this.loading = false
            },

            vote(id) {
                this.loading = true
                let payload = {
                    restaurant_id: id
                }
                this.$request.postRequest(this.callbackVote, payload, "/order/vote")
            },
            callbackVote() {
                this.getRestaurants()
            }
        }
    }
</script>

<style scoped>

</style>

