<template>


            <div class="text-xs-center">
                <v-chip label color="primary" text-color="white">pozostały czas:
                </v-chip>
            <v-chip label color="primary" text-color="white">
                {{time_left.minutes}}
            </v-chip> :
            <v-chip label color="primary" text-color="white">
                {{time_left.seconds}}
            </v-chip>
            </div>

</template>

<script>
    export default {
        data: () => ({
            now: Date.now()/1000
        }),
        mounted() {
            window.setInterval(() => {
                this.now = Date.now()/1000
            }, 1000)
        },

        name: "timer",
        computed: {
            time_left: function()
            {
               let ends_in = this.$store.state.step.ends_in
                let time =  (Date.parse(ends_in)/1000) - Math.floor(this.now)
                if(time<0)
                {
                    return {minutes:0,seconds:0}
                }
                let seconds = time%60
                let minutes = Math.floor(time/60)
               return {minutes,seconds}
            }
        }
    }
</script>

<style scoped>

</style>