<template>
    <div>
        <hide-at breakpoint="mediumAndBelow">
            <v-toolbar color="primary" dark fixed app tabs>
                <router-link to="/current">
                    <v-avatar tile class="logotype">
                        <img src="../../assets/logo.png" height="45px">
                    </v-avatar>
                </router-link>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn flat v-on:click.native="history">historia</v-btn>
                    <v-btn flat v-on:click.native="restaurants">restauracje</v-btn>
                    <v-btn flat v-on:click.native="account_number">dane użytkownika</v-btn>
                    <v-btn flat v-on:click.native="logout">wyloguj się</v-btn>
                </v-toolbar-items>
                <v-toolbar-items slot="extension" centered color="transparent">
                    <v-icon small>settings</v-icon> &nbsp;&nbsp;&nbsp;
                    <v-btn flat small class="caption"
                           v-on:click.native="admin_restaurants">
                        Restauracje
                    </v-btn>
                    <v-btn flat small class="caption"
                           v-on:click.native="admin_products">
                        Produkty
                    </v-btn>
                    <v-btn flat small class="caption"
                           v-on:click.native="admin_users">
                        Użytkownicy
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </hide-at>


        <show-at breakpoint="mediumAndBelow">
            <v-toolbar color="primary" dark fixed app tabs>
                <router-link to="/current">
                    <v-avatar tile class="logotype">
                        <img src="../../assets/logo.png" height="45px">
                    </v-avatar>
                </router-link>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>

                <v-menu bottom left>
                    <v-btn slot="activator" dark icon>
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile @click="history">
                            <v-list-tile-title>historia</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="restaurants">
                            <v-list-tile-title>restauracje</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="account_number">
                            <v-list-tile-title>dane użytkownika</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="logout">
                            <v-list-tile-title>wyloguj się</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>


                <v-menu bottom left slot="extension" >
                    <v-btn slot="activator" dark icon>
                        <v-icon>settings</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile @click="admin_restaurants">
                            <v-list-tile-title>Restauracje</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="admin_products">
                            <v-list-tile-title>Produkty</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="admin_users">
                            <v-list-tile-title>Użytkownicy</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar>
        </show-at>
    </div>
</template>

<script>
    import {showAt, hideAt} from 'vue-breakpoints'
    import VTab from "vuetify/lib/components/VTabs/VTab";

    export default {
        data: () => ({
            mandatory: false
        }),
        components: {
            VTab,
            hideAt, showAt
        },
        name: "admin-toolbar",
        methods: {
            logout() {
                this.$request.logout()
            },
            history() {
                this.$router.push('/history/1')
            },
            restaurants() {
                this.$router.push('/restaurants')
            },
            admin_restaurants(){
                this.$router.push('/admin/restaurants')
            },
            admin_users(){
                this.$router.push('/admin/users')
            },
            admin_products(){
                this.$router.push('/admin/products')
            },
            account_number(){
                this.$router.push('/user/account_number')
            }
        },
    }

</script>

<style scoped>

</style>