<template>
    <div>
    <v-toolbar color="primary" dark fixed app>
        <router-link to="/current">
        <v-avatar tile class="logotype">
            <img src="../../assets/logo.png" height="45px">
        </v-avatar>
        </router-link>
        <v-spacer></v-spacer>

        <hide-at breakpoint="mediumAndBelow">
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn flat v-on:click.native="history">historia</v-btn>
                    <v-btn flat v-on:click.native="restaurants">restauracje</v-btn>
                    <v-btn flat v-on:click.native="account_number">dane użytkownika</v-btn>
                    <v-btn flat v-on:click.native="logout">wyloguj się</v-btn>
                </v-toolbar-items>
        </hide-at>
        <show-at breakpoint="mediumAndBelow">
            <v-menu bottom left>
                <v-btn slot="activator" dark icon>
                    <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                    <v-list-tile @click="history">
                        <v-list-tile-title>historia</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="restaurants">
                        <v-list-tile-title>restauracje</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="account_number">
                        <v-list-tile-title>dane użytkownika</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="logout">
                        <v-list-tile-title >wyloguj się</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </show-at>
    </v-toolbar>
    </div>
</template>

<script>
    import {showAt, hideAt} from 'vue-breakpoints'

    export default {
        components: {hideAt, showAt},
        name: "logged-toolbar",
        methods:{
            logout(){
                this.$request.logout()
            },
            history(){
                this.$router.push('/history/1')
            },
            restaurants(){
                this.$router.push('/restaurants')
            },
            account_number(){
                this.$router.push('/user/account_number')
            }
        },
    }

</script>

<style scoped>

</style>