<template>
    <v-toolbar color="primary" dark fixed app>

        <v-spacer></v-spacer>
        <hide-at breakpoint="mediumAndBelow">
            <div class="logotype" style=
                    "margin-left: -55px;
                               top: 10px;
                               z-index: 200;
                               display: block;
                               position: absolute;
                               left: 50%;">
                <img src="../../assets/logo.png" height="125px">
            </div>
        </hide-at>

        <show-at breakpoint="mediumAndBelow">
            <div class="logotype">
                <img src="../../assets/logo.png" height="45px">
            </div>
        </show-at>
        <v-spacer></v-spacer>

    </v-toolbar>
</template>

<script>
    import {showAt, hideAt} from 'vue-breakpoints'
    export default {
        components: {hideAt, showAt},
        name: "toolbar"
    }
</script>

<style scoped>

</style>