<template>
    <div>
        <div v-if="!loading">
            <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>Edytuj numer konta</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                    <v-form ref="form">
                        <v-text-field v-model="account_number"
                                      :rules="rules.account"
                                      label="Numer konta"
                                      type="text"
                                      mask="##########################"
                                      outline>
                        </v-text-field>
                    </v-form>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" v-on:click.native="createRestaurant">Edytuj numer konta</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>

        <v-snackbar
                v-model="snackbar"
                :bottom="'bottom'"
                :right="'right'"
                :timeout="timeout"
                color="success">
            Zapisano numer konta
            <v-btn flat @click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: "change-account-number",
        data: () => ({
            snackbar: false,
            loading: true,
            timeout: 3000,
            first_time: true,
            account_number: '',
            rules: {
                account: [val => (val || '').length > 25 || 'Numer konta musi zawierać 26 cyfr'],
            }
        }),
        mounted() {
            this.getAccountNumber()
        },
        methods: {
            getAccountNumber() {
                this.$request.getRequest(this.callbackGet,
                    "/user/account_number")
            },
            callbackGet(data) {
                this.account_number = data.account_number
                this.loading = false
                if(!this.first_time){
                this.snackbar = true
                }
                else this.first_time = false
            },
            createRestaurant() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    let payload = {
                        account_number: this.account_number
                    }
                    this.$request.postRequest(this.callback, payload,
                        "/user/account_number")
                }
            },
            callback() {
                this.getAccountNumber()
            }
        }
    }
</script>

<style scoped>

</style>