<template>
    <div>

        <div v-if="!loading">

            <div v-if="currentStep===4">
                <co-jemy></co-jemy>
            </div>

            <div v-if="currentStep===0">
                <co-jemy></co-jemy>
                <finished-order></finished-order>
            </div>

            <div v-if="currentStep===1">
                <timer></timer>
            </br>
                <current-queue></current-queue>
            </div>

            <div v-if="currentStep===2">
                <timer></timer>
                </br>
                <choose-products></choose-products>
            </div>
        </div>
    </div>
</template>

<script>
    import {showAt, hideAt} from 'vue-breakpoints'
    import CurrentQueue from "./current/Queue"
    import Timer from "./current/Timer"
    import ChooseProducts from "./current/ChooseProducts"
    import CoJemy from "./current/CoJemy"
    import FinishedOrder from "./current/FinishedOrder";

    export default {
        name: "current-order",
        data: () => ({
            step: null,
            loading: true

        }),
        mounted() {

            this.getCurrentStep()
            this.$echo.channel('step').listen('ChangeStepEvent', (payload) => {
                this.$store.commit('setStep', payload.body)
            })
        },
        components: {
            FinishedOrder,
            ChooseProducts,
            CoJemy,
            Timer,
            CurrentQueue,
            hideAt, showAt
        },
        computed: {
            currentStep: function () {
                return this.$request.getStep()
            },
            time: function () {
                return this.$store.state.step.ends_in
            }
        },
        methods: {
            getCurrentStep() {
                this.$request.getRequest(this.callbackStep, "/order/step")
            },
            callbackStep(data) {
                if (data.response) {
                    let step = {
                        step: 4
                    }

                    this.$store.commit('setStep', step)
                    this.loading = false
                }
                else {
                    this.$store.commit('setStep', data)
                    this.loading = false
                }
            },


        }
    }
</script>

<style scoped>

</style>