<template>
    <div>

        <v-card class="elevation-12">
            <v-toolbar dark color="primary">
                <v-toolbar-title>Logowanie</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-form ref="form">

                    <v-text-field prepend-icon="email"
                                  v-model="email"
                                  label="Email"
                                  :rules="rules.email"
                                  type="text"
                                  outline>
                    </v-text-field>

                    <v-text-field
                            prepend-icon="lock"
                            v-model="password"
                            label="Hasło"
                            :rules="rules.password"
                            type="password"
                            outline>
                    </v-text-field>

                </v-form>

            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" v-on:click.native="login">Logowanie</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>

        <v-card>
            <v-toolbar dark color="primary">
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <router-link to="/register">
                    <v-btn color="blue darken-4">Rejestracja</v-btn>
                </router-link>

            </v-toolbar>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "login",
        data: () => ({
            email: '',
            password: '',
            rules: {
                email: [value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Nieprawidłowy email.'
                }],
                password: [val => (val || '').length > 5 || 'Hasło musi zawierać minimum 6 znaków'],

            }
        }),
        methods: {
            login() {
                if(this.$refs.form.validate()){
                let payload = {
                    email: this.email,
                    password: this.password
                }
                this.$request.postRequest(this.callback, payload, "/login")
                }
            },

            callback(data)
            {
                this.$router.push('/current')
            }
        }
    }
</script>

<style>


</style>