<template>
    <div>
        <div v-if="!loading">
        <v-card color="transparent" flat v-if="order_history">
            <v-card-title primary-title>
                <div class="headline">Historia zamówień</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense v-for="order in order_history" style="background: transparent!important;">
                <v-card-title>
                    <div>
                        <span class="body-1">{{order.order.restaurant.name}}</span><br>
                        <span class="grey--text">{{order.order.created_at | moment("DD-MM-YY")}}</span><br>
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="goToSpecificOrder(order.order_id)">
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list>
            </br>
            <div class="text-xs-center" v-if="pages>1">
                <v-pagination
                        color="primary"
                        v-model="current_page"
                        :length="pages"
                        @input="onPageChange"
                ></v-pagination>
            </div>
        </v-card>

        <div v-else>
            <div class="display-1 text-xs-center">Brak poprzednich zamówień</div>
        </div>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "previous-orders",
        data: () => ({
            loading: true,
            pages: null,
            order_history: null,
            current_page: 1,
        }),
        mounted() {
            console.log(parseInt(this.$route.params.page))
            if (parseInt(this.$route.params.page) < 0) {
                this.$router.push('/history/1')
            }
            this.getPages()
        },
        methods: {
            getPages() {
                this.$request.getRequest(this.callback, "http://nie-zamawiam.test/history")
            },
            callback(data) {
                this.pages = data.pages
                if (this.pages < parseInt(this.$route.params.page)) {
                    this.$router.push('/history/' + this.pages)
                }
                if (this.pages != 0) {
                    this.getPage()
                }
            },
            getPage() {
                if (parseInt(this.$route.params.page) - 1 < 0) {
                    this.$request.getRequest(this.callbackPage, "http://nie-zamawiam.test/history/index/0")
                }
                else {
                    this.$request.getRequest(this.callbackPage,
                        "http://nie-zamawiam.test/history/index/" + (parseInt(this.$route.params.page) - 1))
                }
            },
            callbackPage(data) {
                this.current_page = parseInt(this.$route.params.page)
                this.order_history = data
                this.loading = false
            },
            goToSpecificOrder(order_id) {
                this.$router.push('/previous/' + order_id)
            },
            onPageChange() {
                this.$router.push('/history/' + this.current_page)
                this.getPages()
            }
        },


    }
</script>

<style scoped>

</style>