<template>
    <div>
        <v-card class="elevation-12">
            <v-toolbar dark color="primary">
                <v-toolbar-title>Rejestracja</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-form  ref="form">

                    <v-text-field prepend-icon="email"
                                  v-model="login"
                                  :rules="rules.email"
                                  label="Email"
                                  type="text"
                                  outline>

                    </v-text-field>

                    <v-text-field
                            prepend-icon="person"
                            v-model="name"
                            :rules = rules.name
                            label="Nazwa użytkownika"
                            type="text"
                            outline>

                    </v-text-field>
                    <v-text-field
                            prepend-icon="lock"
                            v-model="password"
                            :rules = rules.password
                            label="Hasło"
                            id="password"
                            type="password"
                            outline>

                    </v-text-field>
                </v-form>

            </v-card-text>
            <v-card-actions>

                <v-spacer></v-spacer>
                <v-btn color="primary" @click="register">Zarejestruj się</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>

        <v-card>
            <v-toolbar dark color="primary">
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <router-link to="/"><v-btn color="blue darken-4" >Logowanie</v-btn></router-link>

            </v-toolbar>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "register",
        data: () => ({
            login: '',
            password: '',
            name: '',
            rules: {
                email: [value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Nieprawidłowy email.'
                }],
                name: [val => (val || '').length > 2 || 'Nazwa użytkownika musi zawierać minimum 3 znaki'],
                password: [val => (val || '').length > 5 || 'Hasło musi zawierać minimum 6 znaków'],

            }
        }),

        methods: {
            register(){
                if(this.$refs.form.validate()){
                let payload = {
                    email: this.login,
                    password: this.password,
                    name: this.name
                }
                this.$request.postRequest(this.callback, payload, "/register")}
            },
            callback(data)
            {
                if(data.response){

                }
            }
        }
    }
</script>

<style scoped>

</style>