<template>
    <div >
        <div v-if="!loading">
        <div v-if="restaurant.length!=0">
            <v-card color="transparent" flat>
                <v-card-title primary-title>
                    <div class="headline">Restauracja</div>
                </v-card-title>
                <v-divider></v-divider>
            </v-card>
            <v-card color="transparent" flat>
                <v-card-title primary-title>
                    <div class="title">Szczegóły</div>
                </v-card-title>
                <v-slide-y-transition>
                    <v-card-text v-show="show_restaurant">
                        <v-list dense style="background: transparent!important;">
                            <v-card-title>
                                <div class="subheading">{{restaurant.name}}</div>
                                <v-spacer></v-spacer>
                                <v-icon>person</v-icon>

                            </v-card-title>


                            <v-divider></v-divider>
                            <v-list-tile>
                                <div class="body-1">opis:</div>
                            </v-list-tile>
                            <v-list-tile>
                                <div class="body-1">{{restaurant.restaurant_profile.description}}</div>
                            </v-list-tile>
                            <v-divider></v-divider>
                            <v-list-tile>
                                <div class="body-1">jak zamówić:</div>
                            </v-list-tile>
                            <v-list-tile>
                                <div class="body-1">{{restaurant.restaurant_profile.how_to_order}}</div>
                            </v-list-tile>
                            <v-divider></v-divider>

                            <v-list-tile>
                                <v-icon>cloud</v-icon>
                                <div class="body-1">&nbsp;&nbsp;Strona internetowa:</div>
                                <v-spacer></v-spacer>
                                <div class="body-1">{{restaurant.restaurant_profile.website}}</div>
                            </v-list-tile>

                            <v-list-tile>
                                <v-icon>phone</v-icon>
                                <div class="body-1">&nbsp;&nbsp;Telefon:</div>
                                <v-spacer></v-spacer>
                                <div class="body-1">{{restaurant.restaurant_profile.phone_number}}</div>
                            </v-list-tile>

                        </v-list>
                    </v-card-text>

                </v-slide-y-transition>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="show_restaurant = !show_restaurant">
                        <v-icon>{{ show_restaurant ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
            <v-divider></v-divider>


            <v-card color="transparent" flat>
                <v-card-title primary-title>
                    <div class="title">Lista produktów</div>
                </v-card-title>
                <v-slide-y-transition>
                    <v-card-text v-show="show_product">
                        <v-list dense style="background: transparent!important;">
                            <div v-for="product in restaurant.products">
                                <v-list-tile>
                                    <div class="body-1">{{product.name}}</div>
                                    <v-spacer></v-spacer>
                                    <div class="body-1">{{ Number(product.price).toFixed(2)}} zł</div>
                                </v-list-tile>
                                <v-divider></v-divider>
                            </div>
                        </v-list>
                    </v-card-text>

                </v-slide-y-transition>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="show_product = !show_product">
                        <v-icon>{{ show_product ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
            <v-divider></v-divider>
        </div>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "restaurant",
        data: () => ({
            loading: true,
            date: null,
            restaurant: [],
            show_restaurant: false,
            show_product: false
        }),
        mounted() {
            this.getQueue()
        },

        methods: {
            getQueue() {
                if (parseInt(this.$route.params.restaurant_id) < 1) {
                    this.$request.getRequest(this.callback, "/restaurants/1")
                }
                else {
                    this.$request.getRequest(this.callback,
                        "/restaurants/" + parseInt(this.$route.params.restaurant_id))
                }
            },
            callback(data) {
                if (data.length != 0) {
                    this.restaurant = data
                    this.loading = false
                }
                else {
                    this.$router.push('/restaurants')
                }
            }
        }
    }
</script>

<style scoped>

</style>