<template>
    <div>
        <div v-if="!loading">
        <v-card color="transparent" flat v-if="restaurants.length>0">
            <v-card-title primary-title>
                <div class="headline">Restauracje</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense v-for="restaurant in restaurants" style="background: transparent!important;">
                <v-card-title>
                    <div class="body-1">{{restaurant.name}}</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="goToRestaurant(restaurant.id)">
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list>
        </v-card>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "restaurants",
        data: () => ({
            loading: true,
            restaurants: [],
        }),
        mounted() {
            this.getRestaurants()
        },
        methods: {
            getRestaurants() {
                this.$request.getRequest(this.callback, "/restaurants")
            },
            callback(data) {
                this.restaurants = data
                this.loading = false
            },
            goToRestaurant(restaurant_id) {
                this.$router.push('/restaurant/' + restaurant_id)
            }
        }
    }
</script>

<style scoped>

</style>