<template>
    <div>
        <div v-if="!loading">
        <v-divider></v-divider>
        <div class="headline text-xs-center">{{date | moment("DD-MM-YY")}}</div>
        <v-divider></v-divider>
        <v-card color="transparent" flat>
            <v-card-title primary-title>
                <div class="headline">Zamawiający</div>
            </v-card-title>
            <v-slide-y-transition>
                <v-card-text v-show="show_purchaser">
                    <v-list dense style="background: transparent!important;">
                        <v-card-title>
                            <div class="subheading">{{purchaser.name}}</div>
                            <v-spacer></v-spacer>
                            <v-icon>person</v-icon>

                        </v-card-title>
                        <v-divider></v-divider>
                        <v-list-tile>
                            <div class="body-1">numer konta:</div>
                            <v-spacer></v-spacer>
                            <div class="body-1">{{purchaser.user_profile.account_number}}</div>
                        </v-list-tile>
                    </v-list>
                </v-card-text>
            </v-slide-y-transition>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon @click="show_purchaser = !show_purchaser">
                    <v-icon>{{ show_purchaser ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>

        <v-divider></v-divider>
        <v-card color="transparent" flat>
            <v-card-title primary-title>
                <div class="headline">Restauracja</div>
            </v-card-title>
            <v-slide-y-transition>
                <v-card-text v-show="show_restaurant">
                    <v-list dense style="background: transparent!important;">
                        <v-card-title>
                            <div class="subheading">{{restaurant.name}}</div>
                            <v-spacer></v-spacer>
                            <v-icon>person</v-icon>

                        </v-card-title>


                        <v-divider></v-divider>
                        <v-list-tile>
                            <div class="body-1">opis:</div>
                        </v-list-tile>
                        <v-list-tile>
                            <div class="body-1">{{restaurant.restaurant_profile.description}}</div>
                        </v-list-tile>
                        <v-divider></v-divider>
                        <v-list-tile>
                            <div class="body-1">jak zamówić:</div>
                        </v-list-tile>
                        <v-list-tile>
                            <div class="body-1">{{restaurant.restaurant_profile.how_to_order}}</div>
                        </v-list-tile>
                        <v-divider></v-divider>

                        <v-list-tile>
                            <v-icon>cloud</v-icon>
                            <div class="body-1">&nbsp;&nbsp;Strona internetowa:</div>
                            <v-spacer></v-spacer>
                            <div class="body-1">{{restaurant.restaurant_profile.website}}</div>
                        </v-list-tile>

                        <v-list-tile>
                            <v-icon>phone</v-icon>
                            <div class="body-1">&nbsp;&nbsp;Telefon:</div>
                            <v-spacer></v-spacer>
                            <div class="body-1">{{restaurant.restaurant_profile.phone_number}}</div>
                        </v-list-tile>

                    </v-list>
                </v-card-text>

            </v-slide-y-transition>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon @click="show_restaurant = !show_restaurant">
                    <v-icon>{{ show_restaurant ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
        <v-divider></v-divider>

        <v-card color="transparent" flat>
            <v-card-title primary-title>
                <div class="headline">Zamówienia</div>
            </v-card-title>
            <v-slide-y-transition>
                <v-card-text v-show="show_orders">
                    <v-list dense v-for="order in orders" style="background: transparent!important;">
                        <v-card-title>
                            <div class="subheading">{{order.user.name}}</div>
                            <v-spacer></v-spacer>
                            <v-icon>person</v-icon>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-list-tile v-for="product in order.user_order_products">
                            <div class="body-1">{{product.product.name}}</div>
                            <v-spacer></v-spacer>
                            <div class="body-1">{{Number(product.product.price).toFixed(2)}} zł</div>
                        </v-list-tile>
                        <div v-if="order.comment.comment">

                            <v-divider></v-divider>
                            <v-list-tile>
                                <span class="body-1">Komentarz:</span>
                            </v-list-tile>

                            <v-list-tile>
                                <span class="caption">{{order.comment.comment}}</span>
                            </v-list-tile>

                        </div>
                        <v-divider></v-divider>
                    </v-list>
                    <div class="headline">Całkowita koszt zamówienia: {{Number(total_cost).toFixed(2)}} zł</div>
                </v-card-text>

            </v-slide-y-transition>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon @click="show_orders = !show_orders">
                    <v-icon>{{ show_orders ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
            </v-card-actions>

        </v-card>
        <v-divider></v-divider>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "specific-order",
        data: () => ({
            date: null,
            purchaser: null,
            restaurant: null,
            orders: null,
            show_restaurant: false,
            show_purchaser: false,
            show_orders: false,
            loading: true,
            total_cost: null,
        }),

        mounted() {
            this.getQueue()
        },

        methods: {
            getQueue() {
                this.$request.getRequest(this.callback,
                    "/history/"+ parseInt(this.$route.params.order_id))
            },
            callback(data) {
                if(data.length!=0){
                this.purchaser = data.user
                this.restaurant = data.restaurant
                this.orders = data.user_orders
                this.date = data.updated_at
                this.total_cost = data.total_cost
                this.loading = false
                } else {
                    this.$router.push('/history/1')
                }
            },
        }
    }
</script>

<style scoped>

</style>