<template>
    <div>
        <v-card color="transparent" flat v-if="restaurants.length>0">
            <v-card-title primary-title>
                <div class="headline">Wybierz restauracje</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense v-for="restaurant in restaurants" style="background: transparent!important;">
                <v-card-title>
                    <div class="body-1">{{restaurant.name}}</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="goToRestaurant(restaurant.id)">
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "admin-restaurants-products",
        data: () => ({
            restaurants: [],
        }),
        mounted() {
            this.getRestaurants()
        },
        methods: {
            getRestaurants() {
                this.$request.getRequest(this.callback, "/restaurants")
            },
            callback(data) {
                this.restaurants = data
            },
            goToRestaurant(restaurant_id) {
                this.$router.push('/admin/products/' + restaurant_id)
            }
        }
    }
</script>

<style scoped>

</style>