<template>
    <div>
        <div v-if="!loading">
            <v-card color="transparent" flat>
                <v-card-title primary-title>
                    <div class="headline">Produkty</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="success" @click="createProduct">

                        <v-icon color="white">add</v-icon>
                    </v-btn>
                </v-card-title>

                <v-divider></v-divider>
                <div v-if="products.length>0">
                    <v-list dense v-for="product in products" style="background: transparent!important;">
                        <v-card-title>

                            <div>
                                <span class="body-1">{{product.name}}</span><br>
                                <span class="grey--text">{{Number(product.price).toFixed(2)}} zł</span><br>
                            </div>
                            <v-spacer></v-spacer>
                            <v-btn small fab color="primary" @click="editProduct(product.id)">
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-btn small fab color="error" @click="deleteProduct(product.id)">
                                <v-icon>remove_circle</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-divider></v-divider>
                    </v-list>
                </div>
            </v-card>
        </div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-products",
        data: () => ({
            products: [],
            loading: true,
        }),
        computed: {},
        mounted() {
            this.getProducts()
        },
        methods: {
            getProducts() {
                if (parseInt(this.$route.params.restaurant_id) < 1) {
                    this.$request.getRequest(this.callback, "/admin/products/restaurant/1")
                }
                else {
                    this.$request.getRequest(this.callback,
                        "/admin/products/restaurant/" + parseInt(this.$route.params.restaurant_id))
                }
            },
            callback(data) {
                this.products = data
                this.loading = false
            },
            deleteProduct(product_id) {
                this.loading = true
                this.$request.deleteRequest(this.callbackDelete,
                    "/admin/products/delete/" + product_id)
            },
            callbackDelete() {

                this.getProducts()
            },
            createProduct() {
                this.$router.push('/admin/add_product/' + this.$route.params.restaurant_id)
            },
            editProduct(product_id) {
                this.$router.push('/admin/edit_product/' + product_id)
            }
        }
    }
</script>

<style scoped>

</style>