<template>

    <div>
        <v-card color="transparent" flat>
            <v-card-title primary-title>
                <div class="headline">Użytkownicy</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense style="background: transparent!important;">
                <v-card-title>
                    <div class="body-1">Zbanuj użytkowników</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="banUsers">
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-title>
                    <div class="body-1">Potwierdź użytkowników</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="confirmUsers">
                        <v-icon>navigate_next</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list>
        </v-card>


    </div>

</template>

<script>
    export default {
        name: "admin-users",
        methods: {
            confirmUsers()
            {
                this.$router.push('/admin/users/confirm')
            },
            banUsers()
            {
                this.$router.push('/admin/users/ban')
            }
        }
    }
</script>

<style scoped>

</style>