<template>
    <v-card class="elevation-12">
        <v-toolbar dark color="primary">
            <v-toolbar-title>Edytuj restaurację</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-form ref="form">

                <v-text-field
                        v-model="name"
                        label="Nazwa"
                        :rules="rules.name"
                        type="text"
                        outline>
                </v-text-field>
                <v-text-field
                        v-model="website"
                        label="Strona internetowa"
                        type="text"
                        outline>
                </v-text-field>
                <v-text-field
                        v-model="phone_number"
                        label="Telefon"
                        type="text"
                        outline>
                </v-text-field>
                <v-textarea v-model="description"
                            label="Opis"
                            type="text"
                            outline>

                </v-textarea>
                <v-textarea v-model="how_to_order"
                            label="Jak zamówić"
                            type="text"
                            outline>
                </v-textarea>
            </v-form>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" v-on:click.native="createRestaurant">Edytuj restaurację</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "admin-edit-restaurant",
        data: () => ({
            name: '',
            description: '',
            how_to_order: '',
            phone_number: '',
            website: '',
            rules: {
                name: [val => (val || '').length > 2 || 'Nazwa restauracji musi zawierać minimum 3 znaki'],
            }
        }),
        mounted() {
            this.getRestaurant()
        },
        methods: {
            getRestaurant() {
                if (parseInt(this.$route.params.restaurant_id) < 1) {
                    this.$router.push('/admin/restaurants')
                }
                else
                    this.$request.getRequest(this.callbackGet,
                        "/admin/restaurants/" + parseInt(this.$route.params.restaurant_id))
            },
            callbackGet(data) {
                if (data.length != 0) {
                    this.name = data.name
                    this.description = data.restaurant_profile.description
                    this.how_to_order = data.restaurant_profile.how_to_order
                    this.phone_number = data.restaurant_profile.phone_number
                    this.website = data.restaurant_profile.website
                } else this.$router.push('/admin/restaurants')
            },
            createRestaurant() {
                if(this.$refs.form.validate()) {
                    let payload = {
                        name: this.name,
                        description: this.description,
                        how_to_order: this.how_to_order,
                        phone_number: this.phone_number,
                        website: this.website
                    }
                    this.$request.putRequest(this.callback, payload,
                        "/admin/restaurants/" + parseInt(this.$route.params.restaurant_id))
                }},
            callback() {
                this.$router.push('/admin/restaurants')
            }
        }
    }
</script>

<style scoped>

</style>