<template>
    <div>
        <div v-if="!loading">
        <v-card color="transparent" flat >
            <v-card-title primary-title>
                <div class="headline">Restauracje</div><v-spacer></v-spacer>
                <v-btn small fab color="success" @click="createRestaurant">

                    <v-icon color="white">add</v-icon>
                </v-btn>
            </v-card-title>
            <div v-if="restaurants.length>0">

            <v-divider></v-divider>
            <v-list dense v-for="restaurant in restaurants" style="background: transparent!important;">
                <v-card-title>
                    <div class="body-1">{{restaurant.name}}</div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="primary" @click="editRestaurant(restaurant.id)">
                        <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn small fab color="error" @click="deleteRestaurant(restaurant.id)">
                        <v-icon>remove_circle</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list></div>
        </v-card></div>
        <div v-else>
            <div class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-restaurants",
        data: () => ({
            restaurants: [],
            loading: true
        }),
        mounted() {
            this.getRestaurants()
        },
        methods: {
            getRestaurants() {
                this.$request.getRequest(this.callback, "/restaurants")
            },
            callback(data) {

                this.restaurants = data
                this.loading = false
            },
            deleteRestaurant(restaurant_id){
                this.loading = true
                this.$request.deleteRequest(this.callbackDelete,
                    "/admin/restaurants/delete/" + restaurant_id)
            },
            callbackDelete()
            {
                this.getRestaurants()
            },
            createRestaurant()
            {
                this.$router.push('/admin/add_restaurant')
            },
            editRestaurant(restaurant_id)
            {
                this.$router.push('/admin/edit_restaurant/'+restaurant_id)

            },
        }
    }
</script>

<style scoped>

</style>