<template>
    <div>
    <div v-if="!loading">
        <v-card color="transparent" flat v-if="users.length>0">
            <v-card-title primary-title>
                <div class="headline">Użytkownicy</div>
                <v-spacer></v-spacer>
            </v-card-title>

            <v-divider></v-divider>
            <v-list dense v-for="user in users" style="background: transparent!important;">
                <v-card-title>
                    <div>
                        <span class="body-1">{{user.user.name}}</span><br>
                        <span class="grey--text">{{user.user.email}}</span><br>
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn small fab color="error" @click="banUser(user.user_id)">
                        <v-icon>remove_circle</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
            </v-list>
        </v-card>
        <div v-else>
            <div class="display-1 text-xs-center">Brak użytkowników</div>
        </div>
    </div>

    <div v-else>
        <div class="text-xs-center">
            <v-progress-circular
                    :size="70"
                    :width="7"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
        </div>
    </div>
    </div>
</template>
<script>
    export default {
        name: "admin-ban-users",
        data: () => ({
            users: [],
            loading: true,
        }),
        mounted() {
            this.getUsers()
        },
        methods: {
            getUsers() {
                this.$request.getRequest(this.callback, "/admin/users/confirmed")
            },
            callback(data) {
                this.users = data
                this.loading = false
            },
            banUser(user_id) {
                this.loading = true
                this.$request.getRequest(this.callbackBan, "/admin/users/confirmed/" + user_id)
            },
            callbackBan() {
                this.getUsers()
            }
        }
    }
</script>

<style scoped>

</style>