<template>
    <div v-if="restaurant.length!=0">
        <v-card class="elevation-12">
            <v-toolbar dark color="primary">
                <v-toolbar-title>Nowy produkt dla restauracji: {{restaurant.name}}</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-form ref="form">
                    <v-text-field
                            :rules="rules.name"
                            v-model="name"
                            label="Nazwa"
                            type="text"
                            outline>
                    </v-text-field>
                    <v-text-field
                            :rules="rules.price"
                            label="Cena"
                            v-model.lazy="price"
                            v-money="money"
                            outline
                    ></v-text-field>

                </v-form>

            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" v-on:click.native="createProduct">Stwórz produkt</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "admin-add-product",
        data: () => ({
            name: '',
            price: '',
            restaurant: [],
            money: {
                decimal: '.',
                thousands: '',
                prefix: '',
                suffix: '',
                precision: 2,
                masked: false
            },
            rules: {
                price: [val => val > 0 || 'Cena musi wynosić więcej niż 0 zł'],
                name: [val => (val || '').length > 2 || 'Nazwa produktu musi zawierać minimum 3 znaki'],
            }
        }),
        mounted() {
            this.getRestaurant()
        },
        methods: {
            getRestaurant() {
                if (parseInt(this.$route.params.restaurant_id) < 1) {
                    this.$request.getRequest(this.callbackRestaurant,
                        "/admin/restaurants/" + 1)
                }
                else {
                    this.$request.getRequest(this.callbackRestaurant,
                        "/admin/restaurants/" + parseInt(this.$route.params.restaurant_id))
                }
            },
            callbackRestaurant(data) {
                this.restaurant = data
            },
            createProduct(){
                if(this.$refs.form.validate()) {
                    let payload = {
                        name: this.name,
                        price: Number(this.price).toFixed(2),
                    }
                    this.$request.postRequest(this.callback, payload,
                        "/admin/products/" + parseInt(this.$route.params.restaurant_id))
                }
            },
            callback(){
                this.$router.push('/admin/products/'+ parseInt(this.$route.params.restaurant_id))
            }
        }
    }
</script>

<style scoped>

</style>