<template>

    <v-card class="elevation-12">
        <v-toolbar dark color="primary">
            <v-toolbar-title>Edytuj produkt</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-form ref="form">
                <v-text-field
                        :rules="rules.name"
                        v-model="name"
                        label="Nazwa"
                        type="text"
                        outline>
                </v-text-field>
                <v-text-field
                        :rules="rules.price"
                        ref="price"
                        label="Price"
                        v-model.lazy="price"
                        v-money="money"
                        outline
                ></v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" v-on:click.native="editProduct">Edytuj produkt</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>

</template>

<script>
    export default {
        name: "admin-edit-product",
        data: () => ({
            name: '',

            restaurant_id: '',
            money: {
                decimal: '.',
                thousands: '',
                prefix: '',
                suffix: '',
                precision: 2,
                masked: false,
            },
            rules: {
                price: [val => val > 0 || 'Cena musi wynosić więcej niż 0 zł'],
                name: [val => (val || '').length > 2 || 'Nazwa produktu musi zawierać minimum 3 znaki'],
            },
            price: '',
        }),
        mounted() {
            this.getProduct()
        },
        methods: {
            change() {


            },
            getProduct() {
                if (parseInt(this.$route.params.restaurant_id) < 1) {
                    this.$router.push('/admin/products/')
                }
                else {
                    this.$request.getRequest(this.callbackProduct,
                        "/admin/products/" + parseInt(this.$route.params.product_id))
                }
            },
            callbackProduct(data) {
                if (data.length === 0) {
                    this.$router.push('/admin/products')
                }
                this.price = Number(data.price).toFixed(2)
                this.name = data.name
                this.restaurant_id = data.restaurant_id
                this.$refs.price.$el.getElementsByTagName('input')[0].value = Number(data.price).toFixed(2)
            },
            editProduct() {
                if (this.$refs.form.validate()) {
                    let payload = {
                        name: this.name,
                        price: Number(this.price).toFixed(2),

                    }
                    this.$request.putRequest(this.callback, payload,
                        "/admin/products/" + parseInt(this.$route.params.product_id))
                }
            },
            callback() {
                this.$router.push('/admin/products/' + this.restaurant_id)
            }
        }
    }
</script>

<style scoped>

</style>