<template>
    <v-card class="elevation-12">
        <v-toolbar dark color="primary">
            <v-toolbar-title>Nowa restauracja</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-form ref="form">

                <v-text-field
                        :rules="rules.name"
                        v-model="name"
                        label="Nazwa"
                        type="text"
                        outline>
                </v-text-field>
                <v-text-field
                        v-model="website"
                        label="Strona internetowa"
                        type="text"
                        outline>
                </v-text-field>
                <v-text-field
                        v-model="phone_number"
                        label="Telefon"
                        type="text"
                        outline>
                </v-text-field>
                <v-textarea v-model="description"
                            label="Opis"
                            type="text"
                            outline>

                </v-textarea>
                <v-textarea v-model="how_to_order"
                            label="Jak zamówić"
                            type="text"
                            outline>
                </v-textarea>
            </v-form>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" v-on:click.native="createRestaurant">Stwórz restauracje</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "admin-add-restaurant",
        data: () => ({
            name: '',
            description: '',
            how_to_order: '',
            phone_number: '',
            website: '',
            rules: {
                name: [val => (val || '').length > 2 || 'Nazwa restauracji musi zawierać minimum 3 znaki'],
            }
        }),
        methods: {
            createRestaurant() {
                if (this.$refs.form.validate()) {
                    let payload = {
                        name: this.name,
                        description: this.description,
                        how_to_order: this.how_to_order,
                        phone_number: this.phone_number,
                        website: this.website
                    }
                    this.$request.postRequest(this.callback, payload,
                        "/admin/restaurants")
                }
            },
            callback() {
                this.$router.push('/admin/restaurants')
            }
        }
    }
</script>

<style scoped>

</style>