<template>
    <div id="app">

        <v-app>


            <logged-toolbar v-if="status==1"></logged-toolbar>
            <admin-toolbar v-else-if="status==0"></admin-toolbar>
            <toolbar v-else></toolbar>
            <v-content>
                <v-container fluid fill-height>
                    <v-layout justify-center align-center>
                        <v-flex xs12 sm10 md5>
                            <router-view></router-view>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>

        </v-app>
    </div>

</template>
<script>
    import {showAt, hideAt} from 'vue-breakpoints'
    import loggedToolbar from './views/layout/LoggedToolbar.vue'
    import toolbar from './views/layout/Toolbar.vue'
    import adminToolbar from './views/layout/AdminToolbar.vue'
    export default {
        mounted() {
            let user_status = localStorage.getItem('user_status')
            this.$store.commit("setStatus",user_status)
        },
        components: {hideAt, showAt, toolbar, loggedToolbar, adminToolbar},
        computed: {
            status: function () {
                    return parseInt(this.$request.getStatus())
            }
        }
    }
</script>